# Python
__pycache__/
*.py[cod]

# Virtual Env
.venv/
venv/
env/

# Models
models/*
!models/.gitkeep
*.pth
*.pt

# Data
data/*
!data/sample/
*.npy
*.npz
processed/

# Logs
*.log
tmp/
temp/

# Secrets
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db